.invoice {
    margin: 20px 0;
    .invoice-logo {
        margin: auto;
        padding: 20px;
        box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
    }
    .invoice-content {
        padding: 20px;
        box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
        .invoice-details {
            .invoice-top {
                background: $brown;
                color: #fff;
                padding: 20px;
                border-bottom: 2px solid #000;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .rtl & {
                    flex-direction: row-reverse;
                }
                .company-logo {
                    position: relative;
                    width: 130px;
                    height: 120px;
                    border-radius: 20px;
                    overflow: hidden;
                    line-height: 60px;
                    @include transition(all .3s ease-in);
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        z-index: 1;
                        opacity: 0;
                    }
                    &:hover {
                        .company-options {
                            opacity: 1;
                        }
                        &::before {
                            opacity: 1;
                        }
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .company-options {
                        margin-top: 25px;
                        line-height: 40px;
                        position: relative;
                        z-index: 2;
                        @include transition(all .3s ease-in);
                        opacity: 0;
                        button {
                            font-weight: 500;
                            font-size: 14px;
                            border: 1px solid $brown;
                            background: $brown;
                            color: #fff;
                            border-radius: 20px;
                            min-width: 100px;
                            padding: 0;
                            a {
                                text-decoration: none;
                            }
                            &:hover {
                                background: #fff;
                                color: $brown;
                            }
                        }
                    }
                }
                .company-name {
                    text-align: left;
                    .rtl & {
                        text-align: right;
                    }
                    span:first-child {
                        margin: 0 6px;
                        font-weight: 500;
                        font-size: 15px;
                    }
                    span:last-child {
                        font-size: 14px;
                        font-weight: 500;
                        opacity: .9;
                    }
                }
            }
            .invoice-bottom {
                margin-top: 20px;
                .invoice-buyer-info {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    margin: 30px 0;
                    .invoice-buyer {
                        text-align: left;
                        .rtl & {
                            text-align: right;
                        }
                        span:first-child {
                            margin: 0 6px;
                            font-weight: 500;
                            font-size: 15px;
                            width: 115px;
                            display: inline-block;
                        }
                        span:last-child {
                            font-size: 12px;
                            font-weight: 500;
                            opacity: .9;
                        }
                    }
                    .invoice-info {
                        ul {
                            list-style: none;
                            margin: 0;
                            li {
                                text-align: left;
                                .rtl & {
                                    text-align: right;
                                }
                                span:first-child {
                                    min-width: 150px;
                                    display: inline-block;
                                    margin: 0 6px;
                                    font-weight: 500;
                                    font-size: 15px;
                                }
                                span:last-child {
                                    display: inline-block;
                                    font-size: 13px;
                                    font-weight: 500;
                                    text-align: right;
                                    opacity: .9;
                                }
                            }
                        }
                    }
                }
                .invoice-orders {
                    table {
                        thead {
                            tr {
                                th {
                                    padding: 8px;
                                    color: #fff;
                                    text-align: center;
                                    letter-spacing: normal;
                                    border: 1px solid #fff;
                                    direction: rtl;
                                    background: $brown;
                                    font-weight: 600;
                                    font-size: 14px;
                                    white-space: normal;
                                }
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 30px;
                                    text-align: right;
                                    letter-spacing: normal;
                                    align-content: center;
                                    direction: rtl;
                                    border: 1px solid #dee2e6;
                                }
                            }
                        }
                    }
                }
            }
            .invoice-total {
                margin-top: 40px;
                padding: 20px;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .total {
                    text-align: left;
                    .rtl & {
                        text-align: right;
                    }
                }
                .rtl & {
                    flex-direction: row-reverse;
                }
                div {
                    span:first-child {
                        font-size: 14px;
                        font-weight: 600;
                        margin-right: 5px;
                        text-transform: capitalize;
                    }
                    span:last-child {
                        margin-top: 5px;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
            }
            .invoice-footer {
                padding: 30px 0;
                font-weight: 500;
                font-size: 14px;
                text-align: center;
                opacity: .8;
            }
        }
    }
}